<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sample</title>
    <style>
        #canvas {
            padding: 14px;
        }

    </style>

</head>

<body>
    <form action="/hello" method="POST">
        <label for="x1">X1:<input type="number" name="x1" id="x1"></label>
        <label for="y1">Y1:<input type="number" name="y1" id="y1"></label>
        <label for="x2">X2:<input type="number" name="x2" id="x2"></label>
        <label for="y2">Y2:<input type="number" name="y2" id="y2"></label>
        <input type="submit" name="submit" id="submit" value="GO">
    </form>

    <canvas id="canvas" width="1000" height="2000"></canvas>

</body>
    <script>
       function drawBall(x, y) {
           var c = document.getElementById("canvas");
           var ctx = c.getContext("2d");
           ctx.clearRect(0, 0, 1000, 2000);
           ctx.beginPath();
           ctx.rect(x, y, 10, 10);
           ctx.closePath();
           ctx.fillStyle="RED";
           ctx.fill();
       }
       var POINTS = {{ points | safe }};
       var ind = 0;
       function drawPoints() {
          drawBall(POINTS[ind][0], POINTS[ind][1]);
          ind++;
          if(ind >= POINTS.length)
              ind = 0;
      }
      setInterval(drawPoints, 10);
    </script>
</html>
